@layer utilities {
  .font-100 {
    font-variation-settings: 'wght' 100;
  }

  .font-150 {
    font-variation-settings: 'wght' 150;
  }

  .font-200 {
    font-variation-settings: 'wght' 200;
  }

  .font-250 {
    font-variation-settings: 'wght' 250;
  }

  .font-300 {
    font-variation-settings: 'wght' 300;
  }

  .font-350 {
    font-variation-settings: 'wght' 350;
  }

  .font-400 {
    font-variation-settings: 'wght' 400;
  }

  .font-450 {
    font-variation-settings: 'wght' 450;
  }

  .font-500 {
    font-variation-settings: 'wght' 500;
  }

  .font-550 {
    font-variation-settings: 'wght' 550;
  }

  .font-600 {
    font-variation-settings: 'wght' 600;
  }

  .font-650 {
    font-variation-settings: 'wght' 650;
  }

  .font-700 {
    font-variation-settings: 'wght' 700;
  }

  .font-750 {
    font-variation-settings: 'wght' 750;
  }

  .font-800 {
    font-variation-settings: 'wght' 800;
  }

  .font-850 {
    font-variation-settings: 'wght' 850;
  }

  .font-900 {
    font-variation-settings: 'wght' 900;
  }

  .font-ss01 {
    font-feature-settings: 'ss01' 1;
  }

  .font-ss02 {
    font-feature-settings: 'ss02' 1;
  }

  .font-ss03 {
    font-feature-settings: 'ss03' 1;
  }

  .font-ss04 {
    font-feature-settings: 'ss04' 1;
  }

  .font-ss05 {
    font-feature-settings: 'ss05' 1;
  }

  .font-ss06 {
    font-feature-settings: 'ss06' 1;
  }

  .font-ss07 {
    font-feature-settings: 'ss07' 1;
  }

  .font-ss08 {
    font-feature-settings: 'ss08' 1;
  }

  .font-ss09 {
    font-feature-settings: 'ss09' 1;
  }

  .font-ss10 {
    font-feature-settings: 'ss10' 1;
  }

  .font-ss11 {
    font-feature-settings: 'ss11' 1;
  }

  .font-ss12 {
    font-feature-settings: 'ss12' 1;
  }

  .font-ss13 {
    font-feature-settings: 'ss13' 1;
  }

  .font-ss14 {
    font-feature-settings: 'ss14' 1;
  }

  .font-ss-all {
    font-feature-settings: 'ss01' 1, 'ss02' 1, 'ss03' 1, 'ss05' 1, 'ss06' 1,
      'ss08' 1, 'ss11' 1;
  }
}
