/*! Aspekta Typeface v2.000 | OFL v1.1 License | https://github.com/ivodolenc/aspekta */

@font-face {
  font-family: 'Aspekta Variable';
  font-weight: 100 900;
  font-style: normal;
  src: url('/fonts/AspektaVF.woff2') format('woff2');
}
